body{
    background-color: black;
    font-family: sans-serif;
    color: white;
}
nav{
    max-width: 1500px;
    margin: auto;
    background-color: rgb(24, 23, 23);
    font-size: 20px;
    margin-top: 60px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo{
    width: 180px;
    height: 120px;
    display: block;;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.menu-horizontal> li > a{
    display: block;
    padding: 15px 20px;
    color: whitesmoke;
    text-decoration: none;
}
.menu-horizontal> li:hover{
    background-color: rgb(60, 205, 253);
}
main {
    max-width: 1900px;
    margin: 40px auto; 
    padding: 0 20px;
}
.container{
    display: flex;
    gap: 100px; 
    align-items: flex-start; 
}
.comentar{
    flex: 1;
    flex-basis: 250px;
    flex-shrink: 0;
    background-color: rgb(24, 23, 23);
    border-radius: 7px;
    padding: 20px;
    border: 2px solid rgb(60, 205, 253);
    text-align: center;
}
.muack{
    color: rgb(60, 205, 253);
    font-weight: bold;
    font-size: 24px;
}
.comentarios-seccion {
    flex: 2; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.titulo {
    border-radius: 7px;
    padding: 5px 20px; 
}
.post-comentario{
    display: flex;
    padding:20px;
    background-color: rgb(24, 23, 23);
    border-radius: 7px;
    padding: 35px;
    border: 3px solid rgb(60, 205, 253);
    width: 550px;
}
.foto-user{
    width: 50px;
    height: 50px;
    border-radius: 60%;
    margin-right: 15px;
    object-fit: cover;
    flex-shrink: 0;
    border: 2px solid rgb(60, 205, 253);
}
.contenido{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}
.info-user{
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}
.cabecera-post {
    align-items: right; 
    margin-bottom: 5px;
}
.cabecera-post h2 {
    margin: 0; 
    font-size: 1.1em;
    font-weight: bold;
    display: inline;
}
.identificador {
    margin: 0;
    font-size: 0.9em;
    color: gray;
    font-weight: normal;
}
.contenido p {
    margin-top: 5px;
    margin-bottom: 15px;

}
.comentario {
    margin-top: 20px;
    display: flex;
    gap: 8px;
}
label{
    color: gray;
    font-weight: bold;
    flex: 1;
}
.ola{
    padding: 7px;
    border-radius: 8px;
    border: 1px solid rgb(60, 205, 253);
    background-color: black;
    flex: 4;
    color: white;
    height: 20px;
}
button{
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    padding: 7px 15px;
}
button:hover{
    background-color: rgb(60, 205, 253);
}