body{
    background-color: black;
    font-family: sans-serif;
    color: white;
}
nav{
    max-width: 1500px;
    margin: auto;
    background-color: rgb(24, 23, 23);
    font-size: 20px;
    margin-top: 60px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo{
    width: 80px;
    height: 60px;
    display: block;;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.menu-horizontal> li > a{
    display: block;
    padding: 15px 20px;
    color: whitesmoke;
    text-decoration: none;
}
.menu-horizontal> li:hover{
    background-color: rgb(60, 205, 253);
}
main {
    max-width: 1900px;
    margin: 40px auto; 
    padding: 0 20px;
}
.container{
    display: flex;
    gap: 100px; 
    align-items: flex-start; 
}
.usuario {
    flex-basis: 250px;
    flex-shrink: 0;  
    background-color: rgb(24, 23, 23);
    border-radius: 7px;
    padding: 20px;
    text-align: center; 
    height: 500px;
}
.usuario h3{
    font-size:16px;
    color: gray;
}
.usuario img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid rgb(60, 205, 253);
}
.columna-publicaciones {
    flex: 2; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.titulo {
    border-radius: 7px;
    padding: 5px 20px; 
}
.post {
    display: flex;
    padding:20px;
    background-color: rgb(24, 23, 23);
    border-radius: 7px;
    padding: 35px;
    border: 3px solid rgb(60, 205, 253);
    width: 550px;
}
.post img {
    width: 600;
    height:200;
    border-radius: 7px;
    margin-top: 15px;
    position: center;
}
.foto-user{
    width: 50px;
    height: 50px;
    border-radius: 60%;
    margin-right: 15px;
    object-fit: cover;
    flex-shrink: 0;
    border: 2px solid rgb(60, 205, 253);
}
.imagen-post { 
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin-top: 0;
}
.contenido{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}
.info-user{
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}
.cabecera-post {
    align-items: right; 
    margin-bottom: 5px;
}
.cabecera-post h2 {
    margin: 0; 
    font-size: 1.1em;
    font-weight: bold;
    display: inline;
}
.identificador {
    margin: 0;
    font-size: 0.9em;
    color: gray;
    font-weight: normal;
}
.contenido p {
    margin-top: 5px;
    margin-bottom: 15px;

}
.comentario {
    margin-top: 20px;
    display: flex;
    gap: 8px;
}
label{
    color: gray;
    font-weight: bold;
    flex: 1;
}
input{
    padding: 7px;
    border-radius: 8px;
    border: 1px solid rgb(60, 205, 253);
    background-color: black;
    flex: 4;
    color: white;
    height: 20px;
}
button{
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    padding: 7px 15px;
}
button:hover{
    background-color: rgb(60, 205, 253);
}
.seccion-recomendada h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: rgb(60, 205, 253);
}
.cuentas{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.cuentas img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.cuentas div {
    flex-grow: 1;
}
.cuentas h3 {
    margin: 0;
    font-size: 1em;
}
.cuentas p {
    margin: 0;
    font-size: 0.8em;
    color: gray;
}
.btn-seguir {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 9999px;
    font-weight: bold;
    font-size: 0.8em;
    transition: background-color 0.2s;
}

.btn-seguir:hover {
    background-color:  rgb(60, 205, 253);
}
.columna-recomendaciones {
    flex: 1; 
    flex-shrink: 0; 
    flex-basis: 300px;
    background-color: rgb(24, 23, 23);
    border-radius: 7px;
    padding: 20px;
    align-self: flex-start; 
}
footer{
    background-color: rgb(24, 23, 23);
    height:100px;
    padding:10px;
    margin:15px;
    text-align:center;
    color:rgba(185, 176, 176, 1);
    border-radius: 7px;
}